<main class="container mx-auto mt-5">
  <h1 class="text-4xl text-center text-purple-500">Angular + ASP.NET</h1>

  <section class="flex flex-col md:flex-row gap-x-10 w-4/5 mx-auto items-center justify-center mt-14">
    <div class="form md:w-1/2">
      <form class="flex flex-col gap-3" #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <label for="cardHolderName" class="mb-2">Name</label>
          <input type="text" name="cardHolderName" id="cardHolderName" [(ngModel)]="card.cardHolderName"
          class="flex px-5 py-2 w-full outline-transparent hover:outline-purple-500 rounded-md border-2 border-solid">
        </div>
        <div class="flex flex-col">
          <label for="cardNumber" class="mb-2">Number</label>
          <input type="text" name="cardNumber" id="cardNumber" [(ngModel)]="card.cardNumber"
          class="flex px-5 py-2 w-full outline-transparent hover:outline-purple-500 rounded-md border-2 border-solid"
           />
        </div>
        <div class="flex justify-between">
          <div class="flex flex-col">
            <label for="month" class="mb-2">Month</label>
            <input type="number" name="month" id="month" [defaultValue]="06" [(ngModel)]="card.cardExpiryMonth"
            class="flex px-5 py-2 w-full outline-transparent hover:outline-purple-500 rounded-md border-2 border-solid" 
             min="1" max="12" >
          </div>
          <div class="flex flex-col">
            <label for="year" class="mb-2">Year</label>
            <input type="number" name="year" id="year" [defaultValue]="2023" [(ngModel)]="card.cardExpiryYear"
            class="flex px-5 py-2 w-full outline-transparent hover:outline-purple-500 rounded-md border-2 border-solid" 
             min="1900" max="2099" />
          </div>
          <div class="flex flex-col">
            <label for="name" class="mb-2">CVC</label>
            <input type="number" name="cvc" id="cvc" [(ngModel)]="card.cvc"
            class="flex px-5 py-2 w-full outline-transparent hover:outline-purple-500 rounded-md border-2 border-solid"
             min="100" max="999" />
          </div>
        </div>
        <button class="w-full flex justify-center mt-3 bg-purple-500 px-5 py-2 text-white rounded-md">Save</button>
      </form>
    </div>
    <div class="md:w-1/2">
     <article *ngFor="let card of cards">
      <div (click)="onSelect(card)" class="relative px-5 h-16 bg-purple-50 border-solid mb-2 border-purple-100 items-center rounded-md border-2 flex space-x-2">
        <h3 class="">{{ card.cardHolderName }}</h3>
        <div>{{ card.cardNumber }}</div>
        <div class="space-x-2"><span>{{ card.cardExpiryMonth }}</span><span>{{ card.cardExpiryYear }}</span></div>
        <div>{{ card.cvc }}</div>
       <button (click)="onDelete(card.id)"> <i class="material-icons text-red-500 absolute right-3">delete</i></button>
      </div>
     </article>
    </div>
  </section>
</main>
